extends base

block content
    .container-fluid.mt-custom
        table(class="table")
                h5.display-5.text-center.table-caption Search Prodcut
                thead
                    tr
                        //- th(scope="col") #
                        th.table-header-font(scope="col") Product Code
                        th.table-header-font(scope="col") Product Name
                        th.table-header-font(scope="col") Product Description
                        th.table-header-font(scope="col") Buy Value
                        th.table-header-font(scope="col") Sell Value
                        th.table-header-font(scope="col") Stock
                        th.table-header-font(scope="col") Product Origin
                        th.table-header-font(scope="col") Company
                        th.table-header-font(scope="col") Color
                        th.table-header-font(scope="col") Actions

                tbody
                    tr
                        td=data.itemCode
                        td=data.itemName
                        td=data.itemDescription
                        td=data.buyValue
                        td=data.sellValue
                        td=data.stock
                        td=data.itemOrigin
                        td=data.company
                        td=data.color
                        td 
                            a(class="btn-sm mr-1 btn-danger" href=`/removeProduct/${data._id}`) Remove
                            a(class="btn-sm btn-primary" href=`/showEditProductForm/${data._id}`) Edit
                                         