extends base

block content
    .container-fluid.mt-custom
        if data.length <=0 
            h3.display-3 No Item Found....
        else 
            table(class="table")
                h5.display-5.text-center.table-caption List Of All Products
                thead
                    tr
                        //- th(scope="col") #
                        th.table-header-font(scope="col") Product Code
                        th.table-header-font(scope="col") Product Name
                        th.table-header-font(scope="col") Product Description
                        th.table-header-font(scope="col") Buy Value
                        th.table-header-font(scope="col") Sell Value
                        th.table-header-font(scope="col") Stock
                        th.table-header-font(scope="col") Product Origin
                        th.table-header-font(scope="col") Company
                        th.table-header-font(scope="col") Color
                        th.table-header-font(scope="col") Actions

                tbody
                    each product in data 
                        tr
                            td=product.itemCode
                            td=product.itemName
                            td=product.itemDescription
                            td=product.buyValue
                            td=product.sellValue
                            td=product.stock
                            td=product.itemOrigin
                            td=product.company
                            td=product.color
                            td 
                                a(class="btn-sm mr-1 btn-danger" href=`/removeProduct/${product._id}`) Remove
                                a(class="btn-sm btn-primary" href=`/showEditProductForm/${product._id}`) Edit
            nav(aria-label="Page Navigation")
                ul(class="pagination justify-content-center")
                    li(class="page-item disabled")
                        a(class="page-link" href="#" tabindex=-1) Previous
                    li(class="page-item")
                        a(class="page-link" href="#") 1
                    li(class="page-item")
                        a(class="page-link" href="#") 2
                    li(class="page-item")
                        a(class="page-link" href="#") 3
                    li(class="page-item")
                        a(class="page-link" href="#") Next


